{% extends "base.twig" %}
{% set Title_and_Description = fetch("Title_and_Description", {"id": _GET['0']})[0] %}
{% block title %} | {{Title_and_Description.Title}}{% endblock %}
{% block description %}{{Title_and_Description.description}}{% endblock %}
{% block og_url %}/blog{% endblock %}
{% block og_title %} {{Title_and_Description.Title}}{% endblock %}
{% block og_description %}{{Title_and_Description.description}}{% endblock %}
{% block og_image %}{{_BASE}}/img/{{Title_and_Description.og_img}}{% endblock %}
{% block content %}

{% set Blog = fetch("Blog") %}

<!-- intro -->
{% for item in Blog %}
{% if loop.index < 2 %}
<div class="blog-intro flex flex-900-column">
	<div class="flex flex-column ju-co-center width-50per margin-top-40 margin-bottom-40">
		<div class="flex">
			<div class="line-black margin-left-64 margin-top-19 display-none-960"></div>
			<div class="flex flex-column">
				<div class="font-46 color-black line-height-54 margin-bottom-11 margin-left-40 width-462">{{item.Title}}</div>
				<div class="font-14 color-black font-300 line-height-22 margin-left-40 margin-bottom-66 width-462 margin-900-right-40 border-box">{{item.short_text}}</div>
			</div>
		</div>
		<div class="flex al-it-center">
			<div class="line-black margin-left-64"></div>
			<a href="post/{{item.Slug}}" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
			<a href="post/{{item.Slug}}">
				<img src="./assets/images/icons/arrowRight.png">
			</a>
		</div>
	</div>
	<div style="background-image: url('img/{{item.Photo}}')" class="blog-intro-image"></div>
</div>
{% endif %}
{% endfor %}

<!-- blog posts -->
<div class="background-color-grey flex">
	<div class="flex margin-top-97 width-100per">
		<div class="line-transparent margin-left-64 margin-top-19 display-none-960"></div>
		<div class="flex flex-column al-it-900-center">
			<div class="flex flex-wrap margin-left-40 ju-co-900-center">
			
			{% for item in Blog %}
			{% if loop.index > 1 %}
				<div class="flex flex-column margin-bottom-97 margin-right-40">
					<img class="image margin-bottom-22" style="background-image: url('img/{{item.Photo}}')">
					<div class="width-24vw font-24 font-bold color-black line-height-28 margin-bottom-14">{{item.Title}}</div>
					<div class="flex-wrap-3-line width-24vw font-14 color-black line-height-22 margin-bottom-22">{{item.short_text}}</div>
					<div class="flex al-it-center">
						<div class="line-small-black"></div>
						<a href="post/{{item.Slug}}" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
						<a href="post/{{item.Slug}}">
							<img src="./assets/images/icons/arrowRight.png">
						</a>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>	
</div>


{% endblock %}