{% extends "base.twig" %}
{% set Title_and_Description = fetch("Title_and_Description", {"id": _GET['0']})[0] %}
{% block title %} | {{Title_and_Description.Title}}{% endblock %}
{% block description %}{{Title_and_Description.description}}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_title %} {{Title_and_Description.Title}}{% endblock %}
{% block og_description %}{{Title_and_Description.description}}{% endblock %}
{% block og_image %}{{_BASE}}/img/{{Title_and_Description.og_img}}{% endblock %}
{% block content %}

<!-- intro -->
<div class="home-intro flex al-it-center">
	<a data-fancybox href="https://www.youtube.com/watch?v=DVHr8Dy8cPE&feature=youtu.be">
		<img class="home-intro-play" src="./assets/images/icons/play.png">	</a>
	<div class="flex flex-column display-none-1024">
		 <div class="flex">
			<div class="line-white margin-left-64 margin-top-55"></div>
			<div class="flex flex-column">
			{% set Treatments = fetch("Treatments") %}
				<div class="font-16 color-white line-height-19 margin-left-40 margin-bottom-16">Treatments</div>
				{% for treatment in Treatments %}
				{% if treatment.show == 'true' %}
				<div class="font-32 color-white line-height-38 margin-bottom-38 width-416 margin-left-40">{{treatment.Title}}</div>
				<div class="font-14 color-white font-300 line-height-22 margin-left-40 margin-bottom-66 width-462">{{treatment.short_text}} </div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="flex al-it-center">
			<div class="line-white margin-left-64"></div>
			{% for treatment in Treatments %}
			{% if treatment.show == 'true' %}
			<a href="treatment/{{treatment.Slug}}" class="font-16 font-gotham color-white line-height-19 margin-left-40 margin-right-19">Read more</a>
			<a href="treatment/{{treatment.Slug}}">
				<img src="./assets/images/icons/arrowRight.png">
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<!-- treatments -->
{% include 'treatments-slider.twig' %}

<!-- blog posts -->
<div class="background-color-grey flex">
	<div class="flex margin-top-97 width-100per">
		<div class="line-black margin-left-64 margin-top-19 display-none-960"></div>
		<div class="flex flex-column">
			<div class="font-32 color-black line-height-38 margin-left-40 margin-right-40 margin-bottom-81">General Health Advice</div>
			<div class="flex flex-wrap margin-left-40 ju-co-center">
			{% set Blog = fetch("Blog") %}
			{% for item in Blog %}
				<div class="flex flex-column margin-bottom-97 margin-right-40">
					<div class="image margin-bottom-22" style="background-image: url('img/{{item.Photo}}')"></div>
					<div class="width-24vw font-24 font-bold color-black line-height-28 margin-bottom-14">{{item.Title}}</div>
					<div class="flex-wrap-3-line width-24vw font-14 color-black line-height-22 margin-bottom-22">{{item.short_text}}</div>
					<div class="flex al-it-center">
						<div class="line-small-black"></div>
						<a href="post/{{item.Slug}}" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
						<a href="post/{{item.Slug}}">
							<img src="./assets/images/icons/arrowRight.png">
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>	
</div>

{% set About_us = fetch("About_us") %}
<!-- about -->
<div class="flex home-about flex-900-column">
	<div class="backgroung-color-white width-50per">
		<div class="home-about-background flex flex-column ju-co-center padding-top-40 padding-bottom-40">
			<div class="flex">
				<div class="line-black margin-left-64 margin-top-55 display-none-960"></div>
				<div class="flex flex-column">
					<div class="font-16 font-300 color-black line-height-19 margin-left-40 margin-bottom-11 margin-top-19">About</div>
					<div class="font-46 color-black line-height-54 margin-bottom-11 margin-left-40">{{About_us.Name}}</div>
					<div class="font-36 color-black line-height-42 margin-left-40 margin-bottom-50">{{About_us.Position}}</div>
					<div class="font-14 color-black font-300 line-height-22 margin-left-40 margin-bottom-66 width-462 border-box margin-right-40">{{About_us.about_us_text|raw}}</div>
				</div>
			</div>
			<div class="flex al-it-center margin-bottom-11">
				<div class="line-black margin-left-64"></div>
				<a href="about_us" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
				<a href="about_us">
					<img src="./assets/images/icons/arrowRight.png">
				</a>
			</div>
		</div>
	</div>
	<div class="home-about-image width-50per"></div>
</div>

<!-- text -->
<div class="background-color-grey flex al-it-center ju-co-center height-430 padding-40">
	<div class="font-24 font-300 line-height-36 color-black text-align-center width-854">To practice Neurosurgery at present requires keeping what works and persisting at introducing innovation.</div>
</div>

{% endblock %}