{% extends "base.twig" %}
{% set Title_and_Description = fetch("Title_and_Description", {"id": _GET['0']})[0] %}
{% block title %} | {{Title_and_Description.Title}}{% endblock %}
{% block description %}{{Title_and_Description.description}}{% endblock %}
{% block og_url %}/treatments{% endblock %}
{% block og_title %} {{Title_and_Description.Title}}{% endblock %}
{% block og_description %}{{Title_and_Description.description}}{% endblock %}
{% block og_image %}{{_BASE}}/img/{{Title_and_Description.og_img}}{% endblock %}
{% block content %}

<!-- intro -->
<div class="treatments-intro flex al-it-center">
	<div class="flex flex-column display-none-960">
		<div class="treatments-intro-title color-black margin-left-114 margin-bottom-50">Diseases of the spine</div>
		<div class="treatments-intro-text font-14 color-black line-height-22 margin-bottom-38 width-386 margin-left-114">Spinal stenosis, disc herniations, deformities, fractures, degenerative disease and tumors that lead to loss of motor and sensory function, pain, and if untreated, paralysis. There are surgical and non-surgical treatments but I will discuss the surgical bellow. These surgical approaches are not exhaustive, but are the more commonly encountered.</div>
	</div>
</div>
<div class="flex-960 flex-column display-none margin-top-40 margin-bottom-40">
	<div class="treatments-intro-title color-black margin-left-114 margin-bottom-50">Diseases of the spine</div>
	<div class="treatments-intro-text font-14 color-black line-height-22 margin-bottom-38 margin-left-114">Spinal stenosis, disc herniations, deformities, fractures, degenerative disease and tumors that lead to loss of motor and sensory function, pain, and if untreated, paralysis. There are surgical and non-surgical treatments but I will discuss the surgical bellow. These surgical approaches are not exhaustive, but are the more commonly encountered.</div>
</div>

<!-- treatments -->
<div class="font-32 line-height-38 color-black background-color-white padding-left-114 padding-top-90 padding-bottom-90">Treatments</div>
<div class="flex flex-wrap ju-co-center">
	{% set Treatments = fetch("Treatments") %}
	{% for item in Treatments %}
		<!-- 1 -->
		<div class="treatments-tretment flex flex-column margin-bottom-81 margin-right-40">
			<div class="treatments-tretment-image margin-bottom-50" style="background-image: url('img/{{item.image}}')"></div>
			<div class="treatments-tretment-text font-20 line-height-24 font-bold color-black margin-bottom-22">{{item.Title}}</div>
			<div class="flex-wrap-7-line treatments-tretment-text font-14 color-black line-height-22 margin-bottom-38">{{item.short_text}}</div>
			<div class="flex al-it-center">
				<div class="line-black"></div>
				<a href="treatment/{{item.Slug}}" class="font-16 font-gotham color-black line-height-19 margin-left-40 margin-right-19">Read more</a>
				<a href="treatment/{{item.Slug}}">
					<img src="./assets/images/icons/arrowRight.png">
				</a>
			</div>
		</div>
		{% endfor %}
</div>

<!-- testimonial -->
{% include 'testimonial.twig' %}

{% endblock %}